@model IEnumerable<WebLibrary.Models.Dtos.UserDto>

@{
    ViewData["Title"] = "ApproveAccountIndex";
}

<h1>Manage users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalIdentificationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBanned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <div class="isBanned">@(@item.IsBanned)</div>
            </td>
            <td>
                <a class="btn btn-outline-primary historyBtn" asp-controller="Book" asp-action="History" asp-route-id="@item.Id">History</a>
            </td>
            <td>
                <a class="btn btn-primary editBtn" asp-controller="User" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <button id="@item.Id" class="btn @(item.IsBanned ? "btn-success" : "btn-danger") banBtn">Ban</button>
            </td>
            <td>
                @if (!item.IsApproved)
                {
                    <button id="@item.Id" class="btn btn-secondary approveBtn">Approve</button>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/user.js"></script>
}    