@using Microsoft.AspNetCore.Identity
@using WebLibrary.Utils
@model IEnumerable<WebLibrary.Models.Dtos.BookDto>
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Book store</h1>
@if(SignInManager.Context.User.IsInRole(Constants.Librarian)){
    <a class="btn btn-primary" asp-area="" asp-controller="Book" asp-action="Create">Add new book</a>
}

<div class="row">
@{
    foreach (var book in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <img src="@(book.ImageUrl.Substring(7))" class="card-img-top bookImg">
                <div class="card-body">
                    <h5 class="card-title">@book.BookName</h5>
                    <p class="card-text">By @book.AuthorName</p>
                    <p class="card-text">Prints left: @book.AmountAvalible</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Book" asp-action="Detail" asp-route-id="@book.BookId">Book details</a>
                    @if ((await UserManager.FindByIdAsync(UserManager.GetUserId(User))).IsApproved)
                    {
                        <a class="btn btn-secondary" asp-area="" asp-controller="Book" asp-action="Borrow">Borrow book</a>
                    }
                </div>
            </div>
        </div>
    }
}
</div>
